* {
    margin: 0;
    padding: 0;
}
body {
    background: url("../imagenes/bg-patt.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    font-family: "Josefin Sans",sans-serif;
}

/*  */
ul, ol {
    list-style:none;
    
}
.biografia{
    text-align: center;
    width: 500px;
    height: 300px;
    display:block;
    margin:auto;
}

.nav > li {
    float:left;
    width: 20%;
   
}

.nav li a {
    background-color:#000;
    color:#fff;
    text-decoration:none;
    padding:10px 12px;
    display:block;
   
}

.nav li a:hover {
    background-color:#434343;
}

.nav li ul {
    display:none;
    position:absolute;
}

.nav li:hover > ul {
    display:block;
}

.nav li ul li {
    position:relative;
    float: left;
}

.nav li ul li ul {
    right:-140px;
    top:0px;
}
/**/
#wrapper {
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.8);
    margin: 0 auto;
    max-width: 1440px;
    width: 100% !important;
}
.titulo{
    text-align: center;
    font: 150% Satisfy;
    color: black;
    font-weight: bold;
 
  }
section {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 1300px;
    margin: 0 auto;
    max-width: 1440px;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 100% !important;
}

.section2 {
    background-image: url("../imagenes/pisa.jpg");

    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 17100px;
    margin: 0 auto;
    max-width: 1440px;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 100% !important;
}

.section3 {
    background-image: url("../imagenes/pisa.jpg");
 
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 11600px;
    margin: 0 auto;
    max-width: 1440px;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 100% !important;
}

.section4 {
    background-image: url("../imagenes/pisa.jpg");

    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 19900px;
    margin: 0 auto;
    max-width: 1440px;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 100% !important;
}
.section5 {
    background-image: url("../imagenes/pisa.jpg");

    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 11100px;
    margin: 0 auto;
    max-width: 1440px;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 100% !important;
}
.section6 {
    background-image: url("../imagenes/pisa.jpg");

    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 13500px;
    margin: 0 auto;
    max-width: 1440px;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 100% !important;
}
.opinion {
    background-image: url("../imagenes/pisa.jpg");

    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 5500px;
    margin: 0 auto;
    max-width: 1440px;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 100% !important;
}

.glosario {
    background-image: url("../imagenes/acerca.jpg");

    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 2600px;
    margin: 0 auto;
    max-width: 1440px;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 100% !important;
}
#bloque1 {
    background-image: url("../imagenes/infinito.jpg");
}
#bloque1cuentos {
    background-image: url("../imagenes/cuentos.jpg");
}
#bloque2 {
    background-image: url("../imagenes/pisa.jpg");
}
#bloque3 {
    background-image: url("../imagenes/puente-sf.jpg");
}
#bloque4 {
    background-image: url("../imagenes/gato.jpg");
}
h1 {
    background-color: #02223a;
    bottom: 0;
    color: rgba(255, 255, 255, 0.9);
    display: block;
    font-size: 5em;
    font-weight: bold;
    margin-top: 2em;
    opacity: 0.76;
    text-align: center;
    text-shadow: 1px 1px 1px #666;
    text-transform: uppercase;
    width: 100%;
}
h2 {
    color: #fff;
    font-size: 5em;
    font-weight: bold;
    margin-top: 5em;
    opacity: 0.85;
    text-align: center;
    text-shadow: 1px 1px 1px #ccc;
    text-transform: uppercase;
}
#logo {
    display: block;
    margin: 6em auto 0;
    opacity: 0.8;
    width: 200px;
}
#bloque2 p {
    background-color: rgba(255, 255, 255, 0.8);
    color: #333;
    font-size: 1.2em;
    font-weight: normal;
    margin: 2em auto;
    max-width: 800px;
    padding: 1em;
}

.section2 p {
    background-color: rgba(255, 255, 255, 0.8);
    color: #333;
    font-size: 1.2em;
    font-weight: normal;
    margin: 2em auto;
    max-width: 800px;
    padding: 1em;
}

.section3 p {
    background-color: rgba(255, 255, 255, 0.8);
    color: #333;
    font-size: 1.2em;
    font-weight: normal;
    margin: 2em auto;
    max-width: 800px;
    padding: 1em;
}
.section4 p {
    background-color: rgba(255, 255, 255, 0.8);
    color: #333;
    font-size: 1.2em;
    font-weight: normal;
    margin: 2em auto;
    max-width: 800px;
    padding: 1em;
}

.section5 p {
    background-color: rgba(255, 255, 255, 0.8);
    color: #333;
    font-size: 1.2em;
    font-weight: normal;
    margin: 2em auto;
    max-width: 800px;
    padding: 1em;
}
.section6 p {
    background-color: rgba(255, 255, 255, 0.8);
    color: #333;
    font-size: 1.2em;
    font-weight: normal;
    margin: 2em auto;
    max-width: 800px;
    padding: 1em;
}

.opinion p {
    background-color: rgba(255, 255, 255, 0.8);
    color: #333;
    font-size: 1.2em;
    font-weight: normal;
    margin: 2em auto;
    max-width: 800px;
    padding: 1em;
}

.glosario p {
    background-color: rgba(255, 255, 255, 0.8);
    color: #333;
    font-size: 1.2em;
    font-weight: normal;
    margin: 2em auto;
    max-width: 800px;
    padding: 1em;
}

